html, body{
	height:100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Muli', sans-serif !important;
	letter-spacing: 2px;
	background-color: #ecebeb !important;
	/* overflow-x: hidden; */
}
a, button, input:focus, input[type="button"], input[type="reset"], input[type="submit"], textarea:focus, .button, .front-page .overlay, .gallery img, .site-header {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-result-city:nth-of-type(2n+1):hover{
  background-color: #24292e24;
}
.search-result-city:nth-of-type(2n):hover{
  background-color: #24292e32;
}
.search-result-city{
  letter-spacing: 0px;
  cursor: pointer;
  padding: 3%;
  font-size: 18px;
  color: #24292e;
}
.search-result-city:nth-of-type(2n) {
  background-color: #24292e26;
}
.container-search-city{
  width: 50%;
  margin-bottom: 4%;
  position: relative;
}
.input-search-city{
  background-color: #000000c7;
  width: 100%;
  border-color: #ffffff26;
  border-radius: 4px;
  height: 35px;
  color: white;
  padding: 2%;
}
.hidden-result-search-city{
  width: 100%;
  height: auto;
  max-height: 250px;
  background-color: whitesmoke;
  position: absolute;
  border-radius: 2px;
  /* padding: 2%; */
  /* margin: 1%; */
  left: 0;
  margin-top: 1px;
  overflow-y: scroll;
  display: none;
}
.our-center{
  color: white;
  margin-bottom: 4%;
}
.map-city{
  cursor: pointer;
  letter-spacing: 1px;
}
.map-city:hover{
  opacity: 0.75;
}
.grid-footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    color : white;
}
.footer-bottom{
  text-align: center;
  padding-left: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 20%;
  color: whitesmoke;
  background-color: #1d2023;
  font-size: 14px;
  letter-spacing: 1px;
}
.footer-left{
  width: 50%;
  float: left;
  background-color: #24292e;
  height: 400px;
  padding: 2%;
  position: relative;
  /* overflow: hidden; */
}
.footer-right{
  width: 50%;
  float: right;
  background-color: #24292e;
  height: 400px;
}
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }
.fadeInUp.who-are-we{
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 8%;
}
.fadeInUp.formations{
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}
.logo{
	max-width: 120px;
	max-height: 48px;
	position: absolute;
	padding: 0.35em .25em;
	padding-top: 0.1em;
	margin-left: 4%;
	transition: 0.3s;
}
.tabs {
    margin:  0;
    padding: 0;
    list-style: none;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 40%; /* [3] */
    float: right;
    /* margin-right: 4%; */
}
.nav-collapse {
  list-style: none;
  width: 100%;
  float: left;
  top: 0;
  position: absolute;
  z-index: 3;
  background-color: #ffffffcf;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.nav-collapse.active {
    position: fixed;
    background-color: white;
}

.tabs__item {
    width: 100%;
    float: left;
}
.tabs__item:first-child {
}

@media screen and (min-width: 40em) {
    .tabs__item {
        display: table-cell; /* [4] */
        float: none;
        font-family: 'Raleway', sans-serif;
        font-size: .8rem;
        font-weight: 700;
        /* letter-spacing: 2px; */
        text-decoration: none;
        text-transform: uppercase;
    }
}

.tabs__link {
    display: block; /* [5] */
}
.primary-nav {
    text-align: center;
    border-radius: 0;
    overflow: hidden; /* [1] */
    color: #015837;
}

.primary-nav a {
    padding: 1em .30em;
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    color: #1b93f3;
}

.primary-nav a:hover {
    color: white;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    background: #ff9800de;
}

.primary-nav.active {
	background-color:white;
}


.primary-nav.active a {
    padding: 1.5em 0.25em;
    /* padding-top: 1.5em; */
    /* padding-bottom: 1.5em; */
    /* padding-left: 1.5em; */
    /* padding-right: 1.5em; */
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3em;
    color: #1b93f3;
}

.primary-nav.active a:hover {
    color: white;
    -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
    background: #ff9800de;
}
.logo.active{
	max-width: 200px;
	max-height: 90px;
	transition: 0.3s;
}

.ml16 {
  color: #ffffff;
  padding: 40px 0;
  padding-left: 20px;
  font-weight: 1000;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  text-align: center;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
.center-letter{
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index: 10;
    /* display: none; */
    background-color: #00000096;
    padding: 1%;
    border-radius: 2px;
    min-width: 40%;
    min-height: 5%;
    text-align: center;
}

#content{
	width: 70%;
	margin-left:auto;
	margin-right : auto;
	text-align: center;
	padding-bottom: 120px;
	padding-top: 100px;
}
.title {
    font-size: 48px;
    font-size: 4.2rem;
    font-weight: 200;
    /* letter-spacing: 0; */
    text-transform: none;
    font-family: 'Cormorant Garamond', serif;
}
.ul-choice{
    list-style: none;
    display: flex;
    padding-left: 10px;
}
.li-choice {
    list-style-type: none;
    border-radius: 2px;
    border: 0px solid #e2e9e6;
    width: 28%;
    height: 520px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}
.li-choice:hover {
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.24), 0 0 4px rgba(0,0,0,0.12), 0 6px 18px rgba(0,0,0,0.12);
    box-shadow: 0 4px 4px rgba(0,0,0,0.24), 0 0 4px rgba(0,0,0,0.12), 0 6px 18px rgba(0,0,0,0.12);
    cursor: pointer;
    text-decoration: none;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.li-choice-img2{
    padding: 0px;
    margin: 0px;
    background: url(../img/cancer2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100%;
    position: relative;
}
.li-choice-img3{
    padding: 0px;
    margin: 0px;
    background: url(../img/cancer3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100%;
    position: relative;
}
#choice{
	position: relative;
}

.container-choice{
	width: 94%;
	color: #626262;
	text-align: left;
	padding: 3%;
	text-decoration: none;
	letter-spacing: 0;
	/* margin: 0; */
}
.container-choice-p:hover{
	/* opacity:0.95; */
	/* top: 48%; */
}

.container-choice-h {
    font-weight: 900;
    text-decoration: none;
    margin-top: 18px;
}
.container-bottom-stripe{
	position:absolute;
	width:100%;
	background-color: #1b93f3;
	bottom: 0;
	z-index: 2;
	opacity: 0.8;
	text-align: center;
}
.section-bottom-stripe{
	width: 70%;
	display:flex;
	margin-right: auto;
	margin-left: auto;
}
.bloc-bottom-stripe{
	width:33%;
	margin: 3%;
}
.title-bottom-stripe{
	font-size: 34px;
	font-weight: 600;
	line-height: initial;
	color:white;
	margin-top: 5px;
	margin-bottom: 15px;
}
.subtitle-bottom-stripe{
	font-size: 20px;
	letter-spacing: .5px;
	margin-bottom: 15px;
	color: white;
	font-weight: 600;
}

.copy-bottom-stripe{
	font-size: 15px;
	color:white;
	letter-spacing: 1px;
}

.p-who-are-we{
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 1.5;
}

.li-choice-img {
    width: 100%;
    height: 100%;
}

.container-choice-p{
	color: #747474;
	font-size: 16px;
	line-height: 1.8em;
}

.container-choice-img{
	height:40%;
}
